<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.location"
          android:versionCode="1302"
          android:versionName="1.3.2">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application android:label="@string/app_label" android:icon="@drawable/app_icon" android:allowBackup="false">
        <uses-library android:name="com.android.location.provider"/>
        <service
                android:name="com.google.android.location.NetworkLocationService"
                android:exported="true"
                android:permission="android.permission.WRITE_SECURE_SETTINGS">
            <intent-filter>
                <action android:name="com.android.location.service.v3.NetworkLocationProvider"/>
                <action android:name="com.android.location.service.v2.NetworkLocationProvider"/>
                <action android:name="com.android.location.service.NetworkLocationProvider"/>
                <action android:name="com.android.location.service.GeocodeProvider"/>
                <action android:name="com.google.android.location.NetworkLocationProvider"/>
                <action android:name="com.google.android.location.GeocodeProvider"/>
            </intent-filter>

            <meta-data
                    android:name="version"
                    android:value="1"/>
            <meta-data android:name="serviceVersion" android:value="1"/>
        </service>
        <service
                android:name="com.google.android.location.internal.server.NetworkLocationService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.location.internal.ANDROID_NLP"/>
            </intent-filter>

            <meta-data
                    android:name="minProtocolVersion"
                    android:value="1"/>
            <meta-data
                    android:name="maxProtocolVersion"
                    android:value="1"/>
            <meta-data
                    android:name="releaseVersion"
                    android:value="10"/>
            <meta-data
                    android:name="nlpServiceIntent"
                    android:value="com.google.android.location.internal.ANDROID_NLP"/>
        </service>
    </application>

</manifest>
