<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="0802" android:versionName="0.8.2" package="com.google.android.location"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:targetSdkVersion="15" android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <application android:label="NetworkLocation">
        <uses-library android:name="com.android.location.provider" />
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <service android:name="NetworkLocationService">
            <intent-filter>
                <action android:name="com.google.android.location.NetworkLocationProvider" />
                <action android:name="com.google.android.location.GeocodeProvider" />
            </intent-filter>
        </service>
        <service android:name="com.google.android.location.internal.server.NetworkLocationService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.location.internal.ANDROID_NLP" />
            </intent-filter>
            <meta-data android:name="minProtocolVersion" android:value="1" />
            <meta-data android:name="maxProtocolVersion" android:value="1" />
            <meta-data android:name="nlpServiceIntent" android:value="com.google.android.location.internal.ANDROID_NLP" />
        </service>
        <activity android:theme="@style/AlertThemeSelector" android:name="ConfirmAlertActivity" android:excludeFromRecents="true" />
        <activity android:name="com.google.android.location.map.Activity" android:label="NLApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>